__pycache__/
.ruff_cache/
*.pyc
*.pyd
*.env
.env

venv/
.venv/
ENV/
env/

.vscode/

data/**
!data/sources/
!data/staging/
!data/warehouse/
!data/preview/

!data/sources/.gitkeep
!data/staging/.gitkeep
!data/warehouse/.gitkeep
!data/preview/.gitkeep

logs/*
!logs/.gitkeep

config/*
!config/.gitkeep

.coverage
htmlcov/
